---
import "@fontsource/lexend";
import about from "@utils/content/about/about";
import ContactMe from "@components/ContactMe/ContactMe.astro";
import Layout from "@layouts/Layout.astro";
import PageHeader from "@components/PageHeader/PageHeader.astro";
import personalData from "@utils/content/personalData/personalData";
import Roles from "@components/Roles/Roles.astro";

const { name, firstSurname } = personalData;

const {
  title,
  tagline,
  aboutMeList,
  backgroundList,
  educationList,
  softSkills,
  hardSkills,
} = about;
---

<Layout
  title={`${title} | ${name} ${firstSurname}`}
  description={`${title} ${name} ${firstSurname}`}
>
  <div class="container-column gap-20">
    <main class="about wrapper">
      <PageHeader title={title} tagline={tagline}>
        <img
          data-aos="zoom-in-up"
          data-aos-anchor-placement="top-bottom"
          width="1553"
          height="873"
          src="/images/profileImage.webp"
          alt={`${name} ${firstSurname} at work with a colleague`}
        />
      </PageHeader>

      <span class="section-divider"></span>

      <section class="about-me">
        <h2 class="about-me__title">About me</h2>
        <article class="about-me__content with-background-image">
          {
            aboutMeList.map((aboutMe, position) => (
              <>
                <p data-aos-anchor-placement="top-bottom" data-aos="zoom-in-up">
                  <Fragment set:html={aboutMe} />
                </p>
                {position !== aboutMeList.length - 1 && <br />}
              </>
            ))
          }
        </article>
        <span class="section-divider"></span>
      </section>

      <section class="background">
        <h2 class="background__title">Background</h2>

        <article
          class="background__content with-background-image with-background-image--variant"
        >
          {
            backgroundList.map((background, position) => (
              <>
                <p data-aos-anchor-placement="top-bottom" data-aos="zoom-in-up">
                  <Fragment set:html={background} />
                </p>
                {position !== backgroundList.length - 1 && <br />}
              </>
            ))
          }
        </article>
        <span class="section-divider"></span>
      </section>

      <section class="education">
        <h2 class="education__title">Education</h2>

        <article class="education__content with-background-image">
          {
            educationList.map((education) => (
              <p data-aos-anchor-placement="top-bottom" data-aos="zoom-in-up">
                <Fragment set:html={education} />
              </p>
            ))
          }
        </article>
        <span class="section-divider"></span>
      </section>

      <section class="soft-skills">
        <h2 class="soft-skills__title">Soft Skills</h2>

        <article class="soft-skills__content">
          <Roles roles={softSkills} />
        </article>
        <span class="section-divider"></span>
      </section>

      <section class="hard-skills">
        <h2 class="hard-skills__title">Hard kills</h2>

        <article class="hard-skills__content">
          <Roles roles={hardSkills} />
        </article>
      </section>
    </main>

    <ContactMe />
  </div>
</Layout>
