---
import Layout from "@layouts/Layout.astro";
import personalData from "@utils/content/personalData/personalData";
import isdiCoders from "@utils/content/isdiCoders/isdiCoders";
import PageHeader from "@components/PageHeader/PageHeader.astro";
import ContactMe from "@components/ContactMe/ContactMe.astro";
import IsdiCoders from "@components/IsdiCoders/IsdiCoders.astro";
import SectionHeader from "@components/SectionHeader/SectionHeader.astro";

const { name, firstSurname } = personalData;
const { title, tagline, description, teachersFeedback, figuranisPresentation } =
  isdiCoders;
---

<Layout title={`${title} | ${name} ${firstSurname}`} description={description}>
  <div class="container-column gap-20">
    <main class="education-trainig wrapper container-column gap-20 lg:gap-30">
      <PageHeader title={title} tagline={tagline} />

      <section
        class="education-trainig__isdi-coders container-column gap-15 lg:gap-20"
      >
        <SectionHeader
          title="ISDI Coders Bootcamp"
          description="Best Web Development Bootcamp in the world 2021."
        />
        <article class="work-informations container-column">
          <span
            data-aos="zoom-in-up"
            data-aos-anchor-placement="top-bottom"
            class="work-informations__title"
            >Experience at ISDI Coders Bootcamp</span
          >
          <span
            data-aos="flip-right"
            data-aos-delay="300"
            data-aos-anchor-placement="top-bottom"
            class="section-divider"></span>
          <p
            data-aos="zoom-in-up"
            data-aos-anchor-placement="top-bottom"
            class="work-informations__description"
          >
            At the ISDI Coders bootcamp, I was a <span class="keyword"
              >dedicated apprentice</span
            > and a <span class="keyword">committed</span> learner. I would arrive
            early and stay until the
            <span class="keyword">late hours</span> of the night to make the most
            of the experience. My focus extended beyond myself, and I <span
              class="keyword">deeply cared</span
            > for my peers, investing valuable time in
            <span class="keyword">assisting my fellow students</span>, sometimes
            putting my own projects on hold. Even though it was challenging
            being away from my family, my <span class="keyword">passion</span> for
            programming drove me to give my utmost effort. <span class="keyword"
              >My wife</span
            > was my great support throughout this journey.
          </p>
          <p
            data-aos="zoom-in-up"
            data-aos-anchor-placement="top-bottom"
            class="work-informations__description"
          >
            Initially, problems overwhelmed me. However, I soon realized that
            every mental <span class="keyword">"click"</span> after tackling a problem
            resulted in new <span class="keyword">knowledge</span> and extra <span
              class="keyword">motivation</span
            >. The bootcamp was challenging in every sense: <span
              class="keyword">long hours</span
            >, exhaustive reading of
            <span class="keyword">documentation</span>, and the need to navigate
            uncharted waters without predefined study materials.
          </p>
          <p
            data-aos="zoom-in-up"
            data-aos-anchor-placement="top-bottom"
            class="work-informations__description"
          >
            My <span class="keyword">love for programming</span> grew exponentially
            during the bootcamp. I entered with
            <span class="keyword">passion</span> and emerged even more <span
              class="keyword">enthusiastic</span
            >. This experience revealed my clear path: <span class="keyword"
              >I want to fully focus on web development</span
            >. Undoubtedly, this immersion affirmed my true passion and <span
              class="keyword">career direction</span
            >.
          </p>
        </article>

        <article class="container-column gap-20 lg:gap-20">
          <IsdiCoders
            isdiCoders={teachersFeedback}
            title="Teacher Feedback"
            description="Feedback from teachers during the final project presentation."
          />

          <IsdiCoders
            isdiCoders={figuranisPresentation}
            title="FIGURAniS App Presentation"
            description="Presentation of my application FIGURAniS in ISDI Coders."
          />
        </article>

        <article class="work-informations container-column">
          <span
            data-aos="zoom-in-up"
            data-aos-anchor-placement="top-bottom"
            class="work-informations__title">ISDI Coders methodology</span
          >
          <span
            data-aos="flip-right"
            data-aos-delay="200"
            data-aos-anchor-placement="top-bottom"
            class="section-divider"></span>
          <ul class="work-informations__list container-column">
            <li class="list__information container-column">
              <span
                class="information__title"
                data-aos="flip-right"
                data-aos-duration="800"
                data-aos-anchor-placement="top-bottom">Testing</span
              >
              <p
                data-aos="zoom-in-up"
                data-aos-anchor-placement="top-bottom"
                class="information__description"
              >
                ISDI Coders prioritizes testing to ensure the reliability and
                functionality of code. This includes unit <span class="keyword"
                  >testing</span
                >, <span class="keyword">integration testing</span>, and <span
                  class="keyword">end-to-end</span
                > testing.
              </p>
            </li>
            <li class="list__information container-column">
              <span
                class="information__title"
                data-aos="flip-right"
                data-aos-duration="800"
                data-aos-anchor-placement="top-bottom">Best Practices</span
              >
              <p
                data-aos="zoom-in-up"
                data-aos-anchor-placement="top-bottom"
                class="information__description"
              >
                The program emphasizes industry best practices, incorporating
                principles such as <span class="keyword">SOLID</span>, <span
                  class="keyword">KISS</span
                > (Keep It Simple, Stupid), <span class="keyword">DRY</span>
                (Don't Repeat Yourself) and <span class="keyword">YAGNI</span> (You
                Aren't Gonna Need It).
              </p>
            </li>
            <li class="list__information container-column">
              <span
                class="information__title"
                data-aos="flip-right"
                data-aos-duration="800"
                data-aos-anchor-placement="top-bottom">Team Collaboration</span
              >
              <p
                data-aos="zoom-in-up"
                data-aos-anchor-placement="top-bottom"
                class="information__description"
              >
                Working as part of a team is a cornerstone of the methodology.
                <span class="keyword">Collaboration skills</span> and effective communication
                are fostered to develop <span class="keyword">cohesive</span>
                and <span class="keyword">productive</span> development teams.
              </p>
            </li>
            <li class="list__information container-column">
              <span
                class="information__title"
                data-aos="flip-right"
                data-aos-duration="800"
                data-aos-anchor-placement="top-bottom">Documentation</span
              >
              <p
                data-aos="zoom-in-up"
                data-aos-anchor-placement="top-bottom"
                class="information__description"
              >
                ISDI Coders stresses the importance of reading and understanding
                <span class="keyword">documentation</span>. Clear documentation
                enables efficient <span class="keyword">development</span>
                and <span class="keyword">maintenance</span> of projects.
              </p>
            </li>
            <li class="list__information container-column">
              <span
                class="information__title"
                data-aos="flip-right"
                data-aos-duration="800"
                data-aos-anchor-placement="top-bottom"
                >Code Review and Feedback</span
              >
              <p
                data-aos="zoom-in-up"
                data-aos-anchor-placement="top-bottom"
                class="information__description"
              >
                Daily <span class="keyword">code reviews</span> provide immediate
                feedback, encouraging <span class="keyword"
                  >continuous improvement</span
                > and <span class="keyword">knowledge sharing</span> within the team.
              </p>
            </li>
            <li class="list__information container-column">
              <span
                class="information__title"
                data-aos="flip-right"
                data-aos-duration="800"
                data-aos-anchor-placement="top-bottom">Clear Code</span
              >
              <p
                data-aos="zoom-in-up"
                data-aos-anchor-placement="top-bottom"
                class="information__description"
              >
                <span class="keyword">Writing clear</span>, <span
                  class="keyword">readable</span
                >, and <span class="keyword">maintainable</span> code is a priority.
                <span class="keyword">Clean code</span> contributes to better <span
                  class="keyword">teamwork</span
                > and more <span class="keyword">efficient debugging</span>.
              </p>
            </li>
            <li class="list__information container-column">
              <span
                class="information__title"
                data-aos="flip-right"
                data-aos-duration="800"
                data-aos-anchor-placement="top-bottom"
                >User-Centered Approach</span
              >
              <p
                data-aos="zoom-in-up"
                data-aos-anchor-placement="top-bottom"
                class="information__description"
              >
                The user's needs are central to the development process.
                Implementing <span class="keyword">accessible designs</span> and
                <span class="keyword">prioritizing user</span> feedback lead to <span
                  class="keyword">user-friendly</span
                >
                applications.
              </p>
            </li>
            <li class="list__information container-column">
              <span
                class="information__title"
                data-aos="flip-right"
                data-aos-duration="800"
                data-aos-anchor-placement="top-bottom">Debugging</span
              >
              <p
                data-aos="zoom-in-up"
                data-aos-anchor-placement="top-bottom"
                class="information__description"
              >
                <span class="keyword">Debugging skills</span> are honed to identify
                and resolve issues efficiently, ensuring the <span
                  class="keyword">smooth functioning</span
                > of projects.
              </p>
            </li>
            <li class="list__information container-column">
              <span
                class="information__title"
                data-aos="flip-right"
                data-aos-duration="800"
                data-aos-anchor-placement="top-bottom">Sustainable Code</span
              >
              <p
                data-aos="zoom-in-up"
                data-aos-anchor-placement="top-bottom"
                class="information__description"
              >
                The focus on <span class="keyword">sustainable code</span> ensures
                that projects can be <span class="keyword">maintained</span> and
                evolved over time, <span class="keyword"
                  >minimizing technical debt</span
                >.
              </p>
            </li>
          </ul>
        </article>

        <article class="work-informations container-column">
          <span
            data-aos="zoom-in-up"
            data-aos-anchor-placement="top-bottom"
            class="work-informations__title">Desafíos y Logros</span
          >
          <span
            data-aos="flip-right"
            data-aos-delay="200"
            data-aos-anchor-placement="top-bottom"
            class="section-divider"></span>
          <p
            data-aos="zoom-in-up"
            data-aos-anchor-placement="top-bottom"
            class="work-informations__description"
          >
            Throughout my experience at <span class="keyword">ISDI Coders</span
            >, I faced challenges that tested my skills and dedication. From the
            intensity of the <span class="keyword">bootcamp</span> to solving complex
            technical problems, each overcome obstacle helped me grow as a developer.
            Projects like <a
              class="work-link"
              href="/work/isdi-coders/pre-course/password">Pasapalabra</a
            >, <a
              class="work-link"
              href="/work/isdi-coders/pre-course/connect-four">Connect 4</a
            >, and <a
              class="work-link"
              href="/work/isdi-coders/final-proyect/figuranis/">FIGURAniS</a
            >, demonstrated my ability to take ideas from conception to
            implementation.
          </p>
        </article>

        <article class="work-informations container-column">
          <span
            data-aos="zoom-in-up"
            data-aos-anchor-placement="top-bottom"
            class="work-informations__title">Utilized Technologies</span
          >
          <span
            data-aos="flip-right"
            data-aos-delay="200"
            data-aos-anchor-placement="top-bottom"
            class="section-divider"></span>
          <p
            data-aos="zoom-in-up"
            data-aos-anchor-placement="top-bottom"
            class="work-informations__description"
          >
            During my time at <span class="keyword">ISDI Coders</span>, I
            utilized various technologies to build robust and scalable projects.
            Some of the key technologies we employed include the <span
              class="keyword">MERN</span
            > stack (<span class="keyword">MongoDB</span>, <span class="keyword"
              >Express.js</span
            >, <span class="keyword">React</span>, and <span class="keyword"
              >Node.js</span
            >), as well as tools and frameworks like, <span class="keyword"
              >Testing</span
            >, <span class="keyword">TypeScript</span>, <span class="keyword"
              >JavaScript</span
            >, <span class="keyword">Sass</span>, <span class="keyword"
              >BEM</span
            >, <span class="keyword">Redux Toolkit</span>, <span class="keyword"
              >React Router Dom</span
            >, <span class="keyword">CI/CD</span>, etc.
          </p>
        </article>
      </section>
    </main>
    <ContactMe />
  </div>
</Layout>
