---
import "@fontsource/lexend";
import "../sass/styles.scss";
import Layout from "../layouts/Layout.astro";
import PageHeader from "../components/PageHeader/PageHeader.astro";
import Roles from "../components/Roles/Roles.astro";
import roles from "../utils/content/roles/roles";
import personalData from "../utils/content/personalData/personalData";
import Skills from "../components/Skills/Skills.astro";

const { name, firstSurname, tagline, profileImage, altProfileImage } =
  personalData;
---

<Layout>
  <main class="container-column gap-20 lg:gap-48">
    <section class="wrapper container-column gap-8 lg:gap-20">
      <header class="home-header">
        <PageHeader
          title="Hello, my name is"
          titleName={`${name} ${firstSurname}`}
          align="start"
          tagline={tagline}
        >
          <Roles roles={roles} />
        </PageHeader>

        <img
          alt={altProfileImage()}
          width="480"
          height="620"
          src={profileImage}
        />
      </header>
      <Skills />
    </section>
  </main>
</Layout>
