---
import { getCollection } from "astro:content";
import { roles } from "@utils/content/roles/roles";
import CallToAction from "@components/CallToAction/CallToAction.astro";
import ContactMe from "@components/ContactMe/ContactMe.astro";
import Grid from "@components/Grid/Grid.astro";
import Layout from "@layouts/Layout.astro";
import PageHeader from "@components/PageHeader/PageHeader.astro";
import personalData from "@utils/content/personalData/personalData";
import Roles from "@components/Roles/Roles.astro";
import Skills from "@components/Skills/Skills.astro";
import WorksPreview from "@components/WorkPreview/WorkPreview.astro";
import IsdiCoders from "@components/IsdiCoders/IsdiCoders.astro";
import isdiCoders from "@utils/content/isdiCoders/isdiCoders";
import SectionHeader from "@components/SectionHeader/SectionHeader.astro";

const { teachersFeedback, figuranisPresentation } = isdiCoders;

const { name, firstSurname, tagline, profileImage, altProfileImage } =
  personalData;

const works = (await getCollection("work"))
  .sort((a, b) => b.data.publishDate.valueOf() - a.data.publishDate.valueOf())
  .slice(0, 4);
---

<Layout>
  <main class="container-column gap-20 lg:gap-30">
    <section class="wrapper container-column gap-8 lg:gap-20">
      <header class="home-header container-column">
        <PageHeader
          title="Hello, my name is"
          titleName={`${name} ${firstSurname}`}
          align="start"
          tagline={tagline}
        >
          <Roles roles={roles} dataAos="zoom-in" />
        </PageHeader>

        <a href="/about/" target="_blank" rel="noopener noreferrer">
          <img
            data-aos="zoom-in-up"
            data-aos-anchor-placement="top-bottom"
            alt={altProfileImage()}
            width="480"
            height="620"
            src={profileImage}
          /></a
        >
      </header>

      <Skills />
    </section>

    <section class="works-container wrapper container-column gap-20 lg:gap-30">
      <span
        data-aos="flip-right"
        data-aos-delay="300"
        data-aos-anchor-placement="top-bottom"
        class="section-divider"></span>

      <article
        class="works-container__works works-container__works--with-call-to-action with-background-image"
      >
        <section class="works__header container-column gap-2 lg:gap-4">
          <SectionHeader
            title="Selected Work"
            description="Take a look at some of my featured work."
          />
        </section>

        <section class="gallery-container">
          <Grid variant="offset">
            {
              works.map((work) => (
                <li>
                  <WorksPreview works={work} />
                </li>
              ))
            }
          </Grid>
        </section>

        <section class="call-to-action-container">
          <CallToAction
            text="View All"
            icon="cards"
            size="1.4em"
            href="/work/"
          />
        </section>
      </article>

      <span
        data-aos="flip-right"
        data-aos-delay="300"
        data-aos-anchor-placement="top-bottom"
        class="section-divider"></span>
    </section>
    <section
      class="education-training__isdi-coders-videos wrapper container-column gap-20 lg:gap-20"
    >
      <IsdiCoders
        isdiCoders={teachersFeedback}
        title="Teacher Feedback"
        description="Feedback from the teachers during the presentation of the final project at the ISDI Coders Bootcamp."
      />

      <span
        data-aos="flip-right"
        data-aos-delay="300"
        data-aos-anchor-placement="top-bottom"
        class="section-divider"></span>

      <IsdiCoders
        isdiCoders={figuranisPresentation}
        title="FIGURAniS App Presentation"
        description="Presentation of my application FIGURAniS at the ISDI Coders Bootcamp."
      />
    </section>

    <ContactMe />
  </main>
</Layout>
