---
import type { IconPathsProps } from "../../utils/icons/types";
import Icon from "../Icon/Icon.astro";

type Props = {
  href: string;
  size?: string;
  text?: string;
  icon?: keyof IconPathsProps;
  dataAoa?: "fade-left" | "fade-right";
};

const { href, icon, size, text, dataAoa } = Astro.props;
---

<div data-aos={dataAoa}>
  <a class="call-to-action" href={href}>
    {text}
    {icon && <Icon icon={icon} size={size} />}
  </a>
</div>
