---
import "../sass/styles.scss";
import MainHead from "@components/MainHead/MainHead.astro";
import MainHeader from "@components/MainHeader/MainHeader.astro";
import Footer from "@components/Footer/Footer.astro";
import navBarLinks from "@utils/content/navBarLinks/navBarLinks";
import personalData from "@utils/content/personalData/personalData";
import socialsMedias from "@utils/content/socialMedia/socialMedia";

const { name, firstSurname, secondSurname } = personalData;

const {
  title = `${name} ${firstSurname}: Personal Site`,
  description = `The personal site ${name} ${firstSurname} ${secondSurname}`,
} = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <MainHead title={title} description={description} />
  </head>
  <body>
    <div class="container-column app-container">
      <MainHeader
        personalName={`${name} ${firstSurname}`}
        navBarLinks={navBarLinks}
        socialsMedias={socialsMedias}
      />
      <slot />
      <Footer />
    </div>
    <script>
      import AOS from "aos";

      AOS.init({
        disable: window.matchMedia("(prefers-reduced-motion: reduce)").matches,
      });

      const reducedMotionQuery = window.matchMedia(
        "(prefers-reduced-motion: reduce)"
      );

      reducedMotionQuery.addEventListener("change", () => {
        location.reload();
      });

      addEventListener("load", () =>
        document.documentElement.classList.add("loaded")
      );
    </script>
  </body>
</html>
